{% extends "diary/layout.html" %}
{% load static %}

{% block body %}

    <div class="login-container">
        <h2 class="login-title">Login</h2>

        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}

        <div class="form-container">
            <form id="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input class="form-control-login" type="text" name="username" placeholder="Username" required>
                <input class="form-control-login" type="password" name="password" placeholder="Password" required>
                <button class="login-button" type="submit">Login</button>
            </form>
        </div>

        <p class="login-link">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'diary/diary.js' %}"></script>
{% endblock %}
